<div data-role="header">
  <a href="#home" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true">zur&uuml;ck</a>
  <h1>Meine Veranstaltungen</h1>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true"></ul>
</div>

<div data-role="footer">
</div>
